section.add-gig-form {
    padding: 100px 0; 
}

section.add-gig-form .container {
    display: flex;
    justify-content: center;
}

form.add-gig-form {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    width: 500px; 
    padding: 20px; 
    border: 1px solid #777; 
    border-radius: 5px;
}

form.add-gig-form input, 
form.add-gig-form textarea {
    margin-bottom: 30px;
}

form.add-gig-form textarea {
    background: none; 
    padding: 20px; 
    max-width: 100%; 
    min-width: 100%; 
    min-height: 100px; 
    max-height: 300px; 
}

form.add-gig-form label {
    margin-bottom: 10px;
}
