form.auth,
.account-created {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    border: 1px solid #777; 
    width: 350px;
    padding: 20px; 
    border-radius: 10px; 
}

form.auth label {
    margin-bottom: 15px;
}

form.auth input {
    margin-bottom: 25px;
}

.account-created {
    align-items: center;
    gap: 20px; 
}
.account-created a {
    border: 1px solid #fff; 
    border-radius: 5px;
    padding: 5px 15px; 
}
p.validation-error {
    text-align: center;
    padding: 10px 0; 
    margin-bottom: 20px;
    background: #da0000a8; 
}
