header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}

header nav {
	width: 35%;
}

header nav ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header nav ul .auth {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header nav ul .auth a,
header nav ul button.logout {
	margin: 0 1em;
	padding: 5px 20px;
	font-weight: bold;
	border-radius: 100px;
	background: green;
	color: #fff;
}

header nav ul button.logout {
	background: red;
	cursor: pointer;
}

header nav ul .auth a.register {
	background: none;
	border: 1px solid;
	transition: .3s;
	color: #000;
}

header nav ul .auth a.register:hover {
	background: green;
	color: #fff;
}
